@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  background-color: #1e2124;
  justify-content: center;
}

body {
  width: 80vw;
  height: 100vh;
  background-color: #282b30;
  color: white;
  overflow: hidden;
}