@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  background-color: #1e2124;
  justify-content: center;
}

body {
  width: 70vw;
  height: 100vh;
  background-color: #282b30;
  color: white;
  overflow-x: hidden;
}

.dark-background-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}

.centering-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {
    display: block;
    padding: 2vh 3vw 2vh 3vw;
    border: none;
    border-radius: 10px;
    margin-bottom: 1vh;
    background-color: #1e2124;

    font-family: "Inter", sans-serif;
    color: white;

    transition: 0.375s ease-out;
}

.input-field:focus {
    outline: none;
    background-color: #212427;
}

.input-field:hover {
    background-color: #212427;
}

.button {
    display: inline;
    padding: 1vh 3vw 1vh 3vw;
}

.overlay-window-text {
    font-family: "Inter", sans-serif;
    margin-bottom: 2vh;
}